USE [master]
GO
/****** Object:  Database [QuanLyNhaHangOOP]    Script Date: 1/17/2026 11:33:16 AM ******/
CREATE DATABASE [QuanLyNhaHangOOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHangOOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyNhaHangOOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaHangOOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyNhaHangOOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHangOOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHangOOP]
GO
/****** Object:  Table [dbo].[BillInfos]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [int] NOT NULL,
	[FoodId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[CurrentPrice] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCheckIn] [datetime] NOT NULL,
	[DateCheckOut] [datetime] NULL,
	[TableId] [int] NOT NULL,
	[StaffId] [int] NULL,
	[PromoId] [varchar](50) NULL,
	[Status] [int] NOT NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[DiscountAmount] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[UserId] [int] NOT NULL,
	[MembershipLevel] [nvarchar](50) NULL,
	[Points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiningTable]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiningTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[UserId] [int] NOT NULL,
	[Position] [nvarchar](100) NULL,
	[Salary] [decimal](18, 0) NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodCategory]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[DiscountValue] [decimal](18, 0) NULL,
	[DiscountType] [nvarchar](20) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[BookingTime] [datetime] NOT NULL,
	[GuestCount] [int] NULL,
	[TableId] [int] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/17/2026 11:33:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](1000) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillInfos] ON 

INSERT [dbo].[BillInfos] ([Id], [BillId], [FoodId], [Count], [CurrentPrice]) VALUES (1, 1, 1, 1, CAST(120000 AS Decimal(18, 0)))
INSERT [dbo].[BillInfos] ([Id], [BillId], [FoodId], [Count], [CurrentPrice]) VALUES (2, 2, 3, 3, CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[BillInfos] ([Id], [BillId], [FoodId], [Count], [CurrentPrice]) VALUES (3, 3, 1, 1, CAST(120000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[BillInfos] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([Id], [DateCheckIn], [DateCheckOut], [TableId], [StaffId], [PromoId], [Status], [TotalPrice], [DiscountAmount]) VALUES (1, CAST(N'2025-12-21T10:38:15.203' AS DateTime), CAST(N'2025-12-21T12:16:54.960' AS DateTime), 4, NULL, NULL, 1, CAST(120000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[Bills] ([Id], [DateCheckIn], [DateCheckOut], [TableId], [StaffId], [PromoId], [Status], [TotalPrice], [DiscountAmount]) VALUES (2, CAST(N'2025-12-21T10:39:37.533' AS DateTime), CAST(N'2025-12-21T12:11:00.007' AS DateTime), 3, NULL, N'TET50K', 1, CAST(10000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[Bills] ([Id], [DateCheckIn], [DateCheckOut], [TableId], [StaffId], [PromoId], [Status], [TotalPrice], [DiscountAmount]) VALUES (3, CAST(N'2025-12-21T10:46:25.430' AS DateTime), CAST(N'2025-12-21T11:31:56.140' AS DateTime), 2, NULL, NULL, 1, CAST(120000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[DiningTable] ON 

INSERT [dbo].[DiningTable] ([Id], [Name], [Status], [Capacity]) VALUES (1, N'Bàn 01', N'Trống', 4)
INSERT [dbo].[DiningTable] ([Id], [Name], [Status], [Capacity]) VALUES (2, N'Bàn 02', N'Có người', 4)
INSERT [dbo].[DiningTable] ([Id], [Name], [Status], [Capacity]) VALUES (3, N'Bàn 03', N'Trống', 4)
SET IDENTITY_INSERT [dbo].[DiningTable] OFF
GO
INSERT [dbo].[Employees] ([UserId], [Position], [Salary], [HireDate]) VALUES (2, N'Phục vụ', CAST(5000000 AS Decimal(18, 0)), CAST(N'2025-12-20' AS Date))
INSERT [dbo].[Employees] ([UserId], [Position], [Salary], [HireDate]) VALUES (3, N'Phục vụ', CAST(5000000 AS Decimal(18, 0)), CAST(N'2025-12-21' AS Date))
INSERT [dbo].[Employees] ([UserId], [Position], [Salary], [HireDate]) VALUES (7, N'Phó Giám Đốc', CAST(15000000 AS Decimal(18, 0)), CAST(N'2026-01-14' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([Id], [Name], [CategoryId], [Price], [Status], [ImagePath]) VALUES (1, N'Mực nướng', 1, CAST(120000 AS Decimal(18, 0)), N'Đang bán', N'https://cdn.mediamart.vn/images/news/cach-lam-mc-nung-mui-t-sieu-ngon-bng-ni-chien-khong-du_0195f8d0.jpg')
INSERT [dbo].[Food] ([Id], [Name], [CategoryId], [Price], [Status], [ImagePath]) VALUES (2, N'Tôm hấp bia', 1, CAST(200000 AS Decimal(18, 0)), N'Đang bán', N' https://i-giadinh.vnecdn.net/2023/12/13/Buoc-4-Thanh-pham-4-2013-1702459600.jpg')
INSERT [dbo].[Food] ([Id], [Name], [CategoryId], [Price], [Status], [ImagePath]) VALUES (3, N'Bia Tiger', 2, CAST(15000 AS Decimal(18, 0)), N'Đang bán', N' https://experiences.alma-resort.com/wp-content/uploads/cuisine/in-room/drink-menu/tiger.webp')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodCategory] ON 

INSERT [dbo].[FoodCategory] ([Id], [Name]) VALUES (1, N'Hải sản')
INSERT [dbo].[FoodCategory] ([Id], [Name]) VALUES (2, N'Đồ uống')
INSERT [dbo].[FoodCategory] ([Id], [Name]) VALUES (3, N'Khai vị')
SET IDENTITY_INSERT [dbo].[FoodCategory] OFF
GO
INSERT [dbo].[Promotions] ([Id], [Name], [DiscountValue], [DiscountType], [StartDate], [EndDate], [Status]) VALUES (N'LELE', N'Chúc mừng năm mới 2026', CAST(11 AS Decimal(18, 0)), N'Percent', CAST(N'2025-12-16T00:00:00.000' AS DateTime), CAST(N'2026-01-03T00:00:00.000' AS DateTime), N'Active')
INSERT [dbo].[Promotions] ([Id], [Name], [DiscountValue], [DiscountType], [StartDate], [EndDate], [Status]) VALUES (N'TEST10', N'Giảm giá test 10%', CAST(10 AS Decimal(18, 0)), N'Percent', CAST(N'2025-12-21T20:17:43.960' AS DateTime), CAST(N'2026-01-20T20:17:43.960' AS DateTime), N'Active')
INSERT [dbo].[Promotions] ([Id], [Name], [DiscountValue], [DiscountType], [StartDate], [EndDate], [Status]) VALUES (N'TET2026', N'Chúc mừng năm mới 2026', CAST(10 AS Decimal(18, 0)), N'Percent', CAST(N'2025-12-29T00:00:00.000' AS DateTime), CAST(N'2026-01-03T00:00:00.000' AS DateTime), N'Inactive')
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [CustomerName], [PhoneNumber], [BookingTime], [GuestCount], [TableId], [Status]) VALUES (1, N'Nguyễn Thị B', N'0344282566', CAST(N'2025-12-22T17:43:00.000' AS DateTime), 2, 6, N'Chờ xác nhận')
INSERT [dbo].[Reservations] ([Id], [CustomerName], [PhoneNumber], [BookingTime], [GuestCount], [TableId], [Status]) VALUES (2, N'Trần Văn C', N'0344228957', CAST(N'2025-12-22T17:44:00.000' AS DateTime), 3, 1, N'Chờ xác nhận')
INSERT [dbo].[Reservations] ([Id], [CustomerName], [PhoneNumber], [BookingTime], [GuestCount], [TableId], [Status]) VALUES (3, N'Phạm Hoàng C', N'0344299980', CAST(N'2025-12-22T22:14:00.000' AS DateTime), 4, 11, N'Chờ xác nhận')
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [DisplayName], [UserName], [PasswordHash], [PhoneNumber], [UserType], [CreateDate], [IsActive]) VALUES (1, N'Quản lý nhà hàng', N'admin', N'1', N'0344283578', N'Admin', CAST(N'2025-12-20T14:46:05.343' AS DateTime), 1)
INSERT [dbo].[Users] ([Id], [DisplayName], [UserName], [PasswordHash], [PhoneNumber], [UserType], [CreateDate], [IsActive]) VALUES (2, N'Nhân viên A', N'staff', N'1', NULL, N'Staff', CAST(N'2025-12-20T14:46:05.350' AS DateTime), 1)
INSERT [dbo].[Users] ([Id], [DisplayName], [UserName], [PasswordHash], [PhoneNumber], [UserType], [CreateDate], [IsActive]) VALUES (3, N'Nguyễn Văn A', N'staff1', N'1', NULL, N'Staff', CAST(N'2025-12-21T11:42:33.897' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456B3F06E29]    Script Date: 1/17/2026 11:33:17 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillInfos] ADD  DEFAULT ((0)) FOR [Count]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [DateCheckIn]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('Standard') FOR [MembershipLevel]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[DiningTable] ADD  DEFAULT (N'Trống') FOR [Status]
GO
ALTER TABLE [dbo].[DiningTable] ADD  DEFAULT ((4)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT (N'Đang bán') FOR [Status]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (N'Chờ xác nhận') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BillInfos]  WITH CHECK ADD FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([Id])
GO
ALTER TABLE [dbo].[BillInfos]  WITH CHECK ADD FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([Id])
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD FOREIGN KEY([PromoId])
REFERENCES [dbo].[Promotions] ([Id])
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD FOREIGN KEY([TableId])
REFERENCES [dbo].[DiningTable] ([Id])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[FoodCategory] ([Id])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([TableId])
REFERENCES [dbo].[DiningTable] ([Id])
GO
USE [master]
GO
